.header-design {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .left-button {
    order: 1;
  }
  
  .right-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    order: 2;
  }
  
  .right-buttons a {
    color: white;
    margin-left: 20px;
  }

  .left-buttons a {
    color: white;
    margin-left: 20px;
  }